
@{
    Layout = null;
}

<!DOCTYPE html>
<!-- Application Landing Page-->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <title>Index</title>
    <style>
        .btn a {color: white; text-decoration: none;}
        body {background-color: #f1f1f1;}
    </style>
</head>
<body>
    <!--Greeting begining-->
    <div class="text-center"> 
        @ViewBag.Greeting World (from the view)!
        <p>
            <h1>we're going to have an exciting party!<br /></h1>
            <h3>reseve your spot - click below!</h3>
            <!--TODO: Add pictures, Swag-->
        </p>
        <div class=" btn btn-success">
            @Html.ActionLink("RSVP Now", "RsvpForm")
        </div>
    </div>
    <!--Greeting end-->
</body>
</html>
